<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>设置托盘的图标</h3>
<button onclick="setTrayByClick()">点击设置</button>
</body>
<script>
    const {remote,nativeImage}=require('electron')
    const {Tray,Menu,dialog}=require('electron').remote
    const path=require('path')
    let win=remote.getCurrentWindow();
    function setTrayByClick(){
        /*let image=nativeImage.createFromPath(path.join(__dirname,'../../images/paint.png'));
        console.log('image',image)*/
        let tray=new Tray('../../images/test.ico')
        let contextmenu=Menu.buildFromTemplate([
            {
                label:'设置',
                click:()=>{
                    dialog.showMessageBox(win,{
                        title:'设置',
                        buttons:['确定','取消'],
                        message:'设置内容'
                    })
                }
            },
            {
                label:'关于',
                role:'about'
            },
            {
                label:'帮助',
                role:'help'
            },
            {
                label:'退出',
                role:'close'
            }
        ]);
        tray.setContextMenu(contextmenu);
        tray.setToolTip('这是一个托盘应用');
    }

</script>
</html>