<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>设置托盘的图标</h3>
<button onclick="setTrayByClick()">点击设置</button>
</body>
<script>
    const {remote,nativeImage}=require('electron')
    const {Tray,Menu,dialog}=require('electron').remote
    const path=require('path')
    let win=remote.getCurrentWindow();
    function setTrayByClick(){
        /*let image=nativeImage.createFromPath(path.join(__dirname,'../../images/paint.png'));
        console.log('image',image)*/
        console.dir(Tray)
    }
</script>
</html>