<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>全屏显示</div>
<button onclick="showFullScreen()">点击改变窗口展示大小</button>
</body>
<script>
    const {remote}=require('electron');
    const {BrowserWindow}=require('electron').remote
    function showFullScreen(){
        let win=remote.getCurrentWindow()
        if(win.isFullScreen()){
            win.setFullScreen(false)
        }else{
            win.setFullScreen(true)
        }
    }

</script>
</html>