<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>showOpenDialog 打开文件的使用</h3>
<button onclick="openFileDialog()">打开文件对话框</button>
<button onclick="openFileDialogByCondiation()">定制打开对话框</button>
<button onclick="chooseFileExtent()">选择文件类型</button>
<button onclick="chooseFileContent()">选择文件目录</button>
<button onclick="multipleChoose()">多选（文件/目录）</button>
<button onclick="resultAfterChoose()">通过回调函数返回选择结果</button>
<label id="label"></label>
</body>
<script>
    function openFileDialog(){

    }

    function openFileDialogByCondiation(){}
    function chooseFileExtend(){}
    function chooseFileContent(){}
    function multipleChoose(){

    }
    function resultAfterChoose(){

    }
</script>
</html>