<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background:url('../../images/timg.jpg') no-repeat center top;
            background-size:cover;
            /*padding:0;
            margin:0; 有没有初始值页面的样式是有区别的*/
        }
        h3{
            background-color:rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>
<h3>无边框的显示样式</h3>
<button>点击显示新窗口</button>
</body>
<script>

</script>
</html>